<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="products">
            <mat-card-title>
                American Flag
            </mat-card-title>
            <mat-card-subtitle>
                $15.00
            </mat-card-subtitle>
            <mat-card-content>
                <img class="product-image" src="../../../assets/images/american-flag.png"/>
            </mat-card-content>
            <mat-card-actions>
                <mat-form-field class="quantity-input" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" value="1">
                  </mat-form-field>
                <button mat-flat-button color="primary">
                    Purchase
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="products">
            <mat-card-title>
                Korean Flag
            </mat-card-title>
            <mat-card-subtitle>
                $15.00
            </mat-card-subtitle>
            <mat-card-content >
                <img class="product-image" src="../../../assets/images/korean-flag.png"/>
            </mat-card-content>
            <mat-card-actions>
                <mat-form-field class="quantity-input" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" value="1">
                  </mat-form-field>
                <button mat-flat-button color="primary">
                    Purchase
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="products">
            <mat-card-title>
                Japanese Flag
            </mat-card-title>
            <mat-card-subtitle>
                $15.00
            </mat-card-subtitle>
            <mat-card-content>
                <img class="product-image" src="../../../assets/images/japanese-flag.png"/>
            </mat-card-content>
            <mat-card-actions>
                <mat-form-field class="quantity-input" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" value="1">
                  </mat-form-field>
                <button mat-flat-button color="primary">
                    Purchase
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>






