<mat-toolbar color="primary" id="main-toolbar">
    <a mat-button class="toolbar-buttons">
        <mat-icon>
            flag
        </mat-icon>
        Flag Store
    </a>
    <a mat-button routerLink="/introduction" class="toolbar-buttons">
        <mat-icon> business</mat-icon>
        Introduction
    </a>
    <a mat-button routerLink="/shop" class="toolbar-buttons">
        <mat-icon> store</mat-icon>
        Buy Products
    </a>
</mat-toolbar>

<router-outlet id="outlet"></router-outlet>
